<!-- 
.bar.bar-header
    >button.button.button-outline.button-dark.icon-left.ion-home{Home}
    +h1.title{Test}
    +button.button.button-outline.button-dark.icon-right.ion-navicon{Edit}
+bar.bar-subheader>h2.title
+ion-content.has-header.has-subheader
    >.list
        >div.item.item-icon-left
            >button.button.button-icon
                >i.icon.ion-email 
 -->
<div class="bar bar-header ">
    <button class="button button-outline button-dark icon-left ion-home">Home</button>
    <h2 class="title">Header</h2>
    <button class="button button-outline button-dark icon-right ion-navicon">Edit</button>
</div>
<div class="bar bar-subheader">
    <h2 class="title">subheader</h2>
</div>
<ion-content class="has-header has-subheader">
    <div class="list">
        <div class="item item-button-right">
            Time Duration
            <button class="button button-icon">
                <i class="icon ion-ios7-keypad"></i>
            </button>
        </div>
        <div class="item item-button-right">
            Outer Speaker
            <button class="button button-icon">
                <i class="icon ion-ios7-mic"></i>
            </button>
        </div>
        <div class="item item-button-right">
            Call Ma
            <button class="button button-icon">
                <i class="icon ion-ios7-telephone"></i>
            </button>
        </div>
        <div class="item item-button-right">
            Favorate
            <button class="button button-icon">
                <i class="icon ion-ios7-heart"></i>
            </button>
        </div>
        <div class="item item-button-right">
            Setting
            <button class="button button-icon">
                <i class="icon ion-gear-a"></i>
            </button>
        </div>
        <div class="item item-button-right">
            Detail
            <button class="button button-icon">
                <i class="icon ion-navicon"></i>
            </button>
        </div>
    </div>
</ion-content>